@import "./settings/settings.all";
$green-color: #12d16f;
$blue-color: #017fd5;
$grey-color: #a9a9a9;
$dark-grey-color: #414a55;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
